<!DOCTYPE html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PixelWAR</title>
        <script src="assets/vendor/jquery-3.6.0.js"></script>
        <script src="assets/vendor/jquery-ui.js"></script>
        <link rel="stylesheet" href="assets/css/styles.css">
    </head>
    <body>
        <div class="body-container">
            <div class="center top bg-color" style="padding-bottom:40px;">
                <h1 class="titre-form">GESTIONNAIRE DES CANVAS</h1>
                <div class=" mg-10" style="overflow:hidden; max-height:80%; border-radius:10px"  >
                    <div class="top-rounded-box color-sc bottom-border">
                        <div class="column-section ">
                            <div class="flex-3 title-form text-white">Nom du salon</div>
                            <div class="flex-2 title-form text-white">Créateur</div>
                            <div class="flex-1 title-form text-white">Participants</div>
                        </div>
                    </div>
                    <div class="scrollable list-games border-bottom">
                        <div class="mid-box color-gc">
                            <div class="column-section " style="cursor:pointer">
                                <div class="flex-3 ">Sneawy's room</div>
                                <div class="flex-2 ">Sneawy</div>
                                <div class="flex-1 text-center">3 joueurs</div>
                            </div>
                        </div>
                        <div class="mid-box color-gc">
                            <div class="column-section " style="cursor:pointer">
                                <div class="flex-3 ">Sneawy's room</div>
                                <div class="flex-2 ">Sneawy</div>
                                <div class="flex-1 text-center">3 joueurs</div>
                            </div>
                        </div>
                        <div class="mid-box color-gc">
                            <div class="column-section " style="cursor:pointer">
                                <div class="flex-3 ">Sneawy's room</div>
                                <div class="flex-2 ">Sneawy</div>
                                <div class="flex-1 text-center">3 joueurs</div>
                            </div>
                        </div>
                        <div class="mid-box color-gc">
                            <div class="column-section " style="cursor:pointer">
                                <div class="flex-3 ">Sneawy's room</div>
                                <div class="flex-2 ">Sneawy</div>
                                <div class="flex-1 text-center">3 joueurs</div>
                            </div>
                        </div>
                        <div class="mid-box color-gc">
                            <div class="column-section " style="cursor:pointer">
                                <div class="flex-3 ">Sneawy's room</div>
                                <div class="flex-2 ">Sneawy</div>
                                <div class="flex-1 text-center">3 joueurs</div>
                            </div>
                        </div>
                        <div class="mid-box color-gc">
                            <div class="column-section " style="cursor:pointer">
                                <div class="flex-3 ">Sneawy's room</div>
                                <div class="flex-2 ">Sneawy</div>
                                <div class="flex-1 text-center">3 joueurs</div>
                            </div>
                        </div>
                        <div class="mid-box color-gc">
                            <div class="column-section " style="cursor:pointer">
                                <div class="flex-3 ">Sneawy's room</div>
                                <div class="flex-2 ">Sneawy</div>
                                <div class="flex-1 text-center">3 joueurs</div>
                            </div>
                        </div>
                        <div class="mid-box color-gc">
                            <div class="column-section " style="cursor:pointer">
                                <div class="flex-3 ">Sneawy's room</div>
                                <div class="flex-2 ">Sneawy</div>
                                <div class="flex-1 text-center">3 joueurs</div>
                            </div>
                        </div>
                        <div class="mid-box color-gc">
                            <div class="column-section " style="cursor:pointer">
                                <div class="flex-3 ">Sneawy's room</div>
                                <div class="flex-2 ">Sneawy</div>
                                <div class="flex-1 text-center">3 joueurs</div>
                            </div>
                        </div>
                        <div class="mid-box color-gc">
                            <div class="column-section " style="cursor:pointer">
                                <div class="flex-3 ">Sneawy's room</div>
                                <div class="flex-2 ">Sneawy</div>
                                <div class="flex-1 text-center">3 joueurs</div>
                            </div>
                        </div>
                        <div class="mid-box color-gc">
                            <div class="column-section " style="cursor:pointer">
                                <div class="flex-3 ">Sneawy's room</div>
                                <div class="flex-2 ">Sneawy</div>
                                <div class="flex-1 text-center">3 joueurs</div>
                            </div>
                        </div>
                        <div class="mid-box color-gc">
                            <div class="column-section " style="cursor:pointer">
                                <div class="flex-3 ">Sneawy's room</div>
                                <div class="flex-2 ">Sneawy</div>
                                <div class="flex-1 text-center">3 joueurs</div>
                            </div>
                        </div>
                        <div class="mid-box color-gc">
                            <div class="column-section " style="cursor:pointer">
                                <div class="flex-3 ">Sneawy's room</div>
                                <div class="flex-2 ">Sneawy</div>
                                <div class="flex-1 text-center">3 joueurs</div>
                            </div>
                        </div>
                        <div class="mid-box color-gc">
                            <div class="column-section " style="cursor:pointer">
                                <div class="flex-3 ">Sneawy's room</div>
                                <div class="flex-2 ">Sneawy</div>
                                <div class="flex-1 text-center">3 joueurs</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-menu">
                <% if (!logged) { %>
                    <a href="/users/login">Connexion</a>
                    <a href="/users/signup">Inscription</a>
                <% } else { %>
                    <a href="/users/perfil">Profil</a>
                    <a href="/users/canvas">Canvas</a>
                    <a href="/users/logout">Se déconnecter</a>
                <% } %>
            </div>
            <div class="footer bg-main">
                <button disabled class="btn valid">CREER UN CANVA</button>
            </div>
        </div>
        <script src="assets/js/canva.js"></script>
    </body>
</html>