<!DOCTYPE html>
    <head>
        <meta charset="UTF-8" />
        <title>PixelWAR</title>
        <link rel="stylesheet" href="assets/css/styles.css">
    </head>
    <body>
        <div class="body-container">
            <div class="login-menu">
                <a>Connexion</a>
                <a>Inscription</a>
            </div>
            <div class="footer bg-main">
                <div class="footer-box">
                    <p onselectstart="return false" class="info-picker">(0;0)</p>
                    <input type="color" id="head" name="head" class="color-picker" value="#e66465">
                </div>
                <div class="footer-box">
                    <form method="GET">
                        <button class="valid-btn">ENVOYER</button>
                    </form>
                </div>
                <div class="footer-box">
                    <p class="chrono">10:00<label id="min">min</label></p>
                </div>
            </div>
            <canvas class="painting"></canvas>
        </div>
        <script src="assets/js/canva.js"></script>
    </body>
</html>