<!-- HTML, CSS ET JS par Pierre LUYPAERT-->
<div class="login-menu">
    <% if (!logged) { %>
        <a href="/users/login">Connexion</a>
        <a href="/users/signup">Inscription</a>
    <% } else { %>
        <a href="/users/profile">Profil</a>
        <a href="/canvas">Canvas</a>
        <a href="/users/logout">Déconnexion</a>
    <% } %>
    <div class="connexion-info">Connecté en tant que <%= login %></div>
</div>