<div class="login-menu">
    <% if (!logged) { %>
        <a href="/users/login">Connexion</a>
        <a href="/users/signup">Inscription</a>
    <% } else { %>
        <a href="/profile">Profil</a>
        <a href="/canvas">Canvas</a>
        <a href="/users/logout">Se déconnecter</a>
    <% } %>
</div>