<!DOCTYPE html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PixelWAR: Login</title>
        <script src="assets/vendor/jquery-3.6.0.js"></script>
        <script src="assets/vendor/jquery-ui.js"></script>
        <link rel="stylesheet" href="assets/css/styles.css">
        <link rel="stylesheet" href="assets/css/login.css">
    </head>
    <body>
        <div class="body-container">
            <div class="center-div" style="text-align: center;">
                <h1 class="titre-form">Inscription</h1>
                <form class="center-div" action="/users/signup" method="post" role="form" >
                    <input name="login" type="text" id="login" class="input-text" placeholder="Pseudo">
                    <input name="password" type="password" id="password" class="input-text" placeholder="Mot de passe">
                    <input name="password2" type="password" id="password2" class="input-text" placeholder="Répéter le mot de passe">
                    <button class="btn valid">ENVOYER</button>
                    <button class="btn error">RETOUR</button>
                </form>
            </div>
        </div>
    </body>
</html>