<!DOCTYPE html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PixelWAR: Login</title>
        <script src="assets/vendor/jquery-3.6.0.js"></script>
        <script src="assets/vendor/jquery-ui.js"></script>
        <link rel="stylesheet" href="assets/css/styles.css">
        <link rel="stylesheet" href="assets/css/login.css">
    </head>
    <body>
        <div class="body-container">
            <div class="center bg-color">
                <h1 class="titre-form">Inscription</h1>
                <form class="center-div" action="/users/signup" onsubmit="return user_signup()" method="post" role="form" >
                    <input name="login" type="text" id="signup-username" class="input-text" placeholder="Pseudo">
                    <input name="password" type="password" id="signup-password" class="input-text" placeholder="Mot de passe">
                    <input name="password_confirmation" type="password" id="signup-password-confirmation" class="input-text" placeholder="Répéter le mot de passe">
                    <label id="signup-answer"></label>   
                    <button type="submit" class="btn valid">ENVOYER</button>
                    <button type="button" onclick="window.location.href='/home'" class="btn error">RETOUR</button>
                </form>
            </div>
        </div>
        <script>
        function user_signup() {
            let dataToPost = {
                login: $('#signup-username').val(),
                password: $('#signup-password').val(),
                password_confirmation: $('#signup-password-confirmation').val()
            };            
            if ( dataToPost.password == dataToPost.password_confirmation)
            {
                if ( dataToPost.password.length >= 6 )
                    return true;
                else
                    $('#signup-answer').html("Le mot de passe est trop court");
            } else {
                $('#signup-answer').html("Les mots de passe sont différents");

            }                
            return false

        }
    </script>
    </body>
</html>