/* Classes CSS par Pierre LUYPAERT */

@import "utils.css";
:root {
    --background-color: linear-gradient(#686868, #1e1e1e);
    --valid-primary-color: rgb(174, 223, 174);
    --valid-secondary-color: forestgreen;
    --bad-primary-color: rgb(223, 174, 174);
    --bad-secondary-color: rgb(139, 34, 34);
    --primary-color: rgb(180, 199, 225);
    --secondary-color: rgb(25, 63, 135);
    --clear-bg: white;
    --gray-bg: lightgray;
}

* {
    margin:0;
}


label:not(is(#chrono)) {
    width:80%;
    color:red;
    display: block;
    margin-left:10px;
    margin-top:30px;
    font-family: 'CustomFont', Arial, sans-serif;
    font-size: 1.5vw;
}


.icon {
    background-size: cover;
    width:20px;
    height:20px;
    float:right;
    background-repeat: no-repeat;
    margin:5px;
    margin-top:8px;
    z-index:1000;
    cursor: pointer;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    width:50%;
    height:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 20px;
    text-align: center;
    padding-bottom:10px;
}

.top:is(.center) {
    -webkit-transform: translate(-50%, -65%);
    transform: translate(-50%, -65%);
    bottom: 30%;
}

.column-section {
    display:flex;
    flex-flow: row wrap !important;
    border-radius: 10px;
}

.row-section {
    display:flex;
    /*flex-flow: column wrap !important;*/
    border-radius: 10px;
    width:100%;
}


.border-bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.body-container {
    position: absolute;
    background-image: var(--background-color);
    width:100%;
    height:100%;
    overflow: hidden;
}

.login-menu {
    font-family: 'CustomFont', Arial, sans-serif;
    font-size:1.7em;
    background-color: var(--primary-color);
    color:var(--secondary-color);
    position:absolute;
    right:0px;
    top:0px;
    border: 1px solid var(--secondary-color);
    border-top:0px;
    border-right:0px;
    padding:10px;
    border-bottom-left-radius: 10px;
}

.login-menu > a {
    margin:3px;
    text-decoration: none;
}

.login-menu > a:hover {
    text-decoration: underline;
}

.mid-box {
    background-color: var(--gray-bg);
}

.canva-row {
    font-family: 'CustomFont', Arial, sans-serif;
    font-size: 1.5em;
    transition-duration: 200ms;
    margin-bottom:10px;
    cursor:pointer;
}

.canva-row:hover {
    background-color: white;
    border-radius: 3px;
}


.footer {
    width:100%;
    font-family: 'CustomFont', Arial, sans-serif;
    position:absolute;
    bottom:0px;
    height:80px;
    border-top: 3px solid var(--secondary-color);
    padding:20px;  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.footer-box {
    position: relative;
}

.titre-form {
    margin-top:30px;
    color: var(--secondary-color);

    font-family: 'CustomFont', Arial, sans-serif;
    font-size:3em;
}

.soustitre-form {
    margin-top:20px;
    color: var(--secondary-color);
    text-decoration:underline;
    font-family: 'CustomFont', Arial, sans-serif;
    font-size:2em;
}

.imgbtn {
    width:70px;
    height:100%;
    filter: invert(100%);
    transition: 200ms;
    cursor: pointer;
}

.imgbtn:hover {
    filter: invert(50%);
}

#info-picker {
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top:5%;
    font-size:3em;
    color:var(--clear-bg);
    
    pointer-events: none;
    
}


.color-picker {
    width:200px;
    height:74px;
}

#chrono {
    background-color: var(--bad-primary-color);
    color:var(--bad-secondary-color);
    border: 1px solid var(--bad-secondary-color);
    text-align: center;
    font-size: 50px;
    border-radius: 10px;
}

#min {
    font-size: .5em;
}

#painting {
    height:100%;
    width:100%;
}

#canva {
    image-rendering:pixelated;
}

.connexion-info {
    position:relative;
    font-size: 10px;
    height:0px;
    margin-top:-4px;
    margin-bottom:2px;
    margin-left:2px; 
    color:grey;   
}