:root {
    --background-color: linear-gradient(#3a3a3a, #1e1e1e);
    --primary-color: rgb(174, 223, 174);
    --secondary-color: forestgreen;
}

* {
    margin:0;
}

@font-face {
    font-family: "CustomFont";
    src: url("./BebasNeue-Regular.otf");
}

.body-container {
    position: absolute;
    background-image: var(--background-color);
    width:100%;
    height:100%;
    overflow: hidden;

}

.login-menu {
    font-family: 'CustomFont', Arial, sans-serif;
    background-color: white;
    position:absolute;
    right:0px;
    top:0px;
    border: 1px solid black;
    border-top:0px;
    border-right:0px;
    padding:10px;
    border-bottom-left-radius: 10px;
}

.info {
    font-family: 'CustomFont', Arial, sans-serif;
    background-color: white;
    position:absolute;
    right:50%;
    top:20px;
    border: 1px solid black;
    padding:10px;
    border-radius:10px;
}
.footer {
    width:100%;
    font-family: 'CustomFont', Arial, sans-serif;
    position:absolute;
    bottom:0px;
    background-color: white;
    height:80px;
    border-top: 1px solid black;
    padding:20px;  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.footer-box {
    width: 200px;
    height: 100px;
}

.valid-btn {
    color: var(--secondary-color);
    width:200px;
    height:90px;
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    font-family: 'CustomFont', Arial, sans-serif;
    font-size: 3.6em;
    transition-duration: 500ms;
}

.valid-btn:hover {
    color: var(--primary-color);
    border: 1px solid grey;
    background-color: var(--secondary-color);
}

.color-picker {
    width:200px;
    height:90px;
}


.painting {
    height:100%;
    width:100%;
}
