/* Classes CSS par Pierre LUYPAERT */

@font-face {
    font-family: "CustomFont";
    src: url("./BebasNeue-Regular.otf");
}

/* For positioning and sizing */

.flex-4 { flex: 4; }
.flex-3 { flex: 3; }
.flex-2 { flex: 2; }
.flex-1 { flex: 1; }
.gap-20 { gap:20px; }
.no-wrap { flex-flow: nowrap !important;}
.h-80   { height:80%; }
.mg-10  { margin:10px;}
.w-100 { width:100%; }
.h-100 { height: 100%; }
.h-95 { height: 95%; }
.flex-gap-10        { column-gap: 10px; row-gap: 10px; }
.top-rounded-box    { padding: 10px; border-radius: 10px 10px 0px 0px }
.mid-box            { padding: 10px; border-top: 1px solid gray; }
.bottom-rounded-box { padding: 10px; border-radius: 0px 0px 10px 10px }
.border-rad-20 { border-radius: 20px;}
.no-pad { padding:0 !important;}
.scrollable {  overflow-y: scroll; }
.scrollable::-webkit-scrollbar { display: none; }
.scrollable {  -ms-overflow-style: none;  /* IE and Edge */ scrollbar-width: none;  /* Firefox */ }



/* Colors */
.blue { color:var(--secondary-color); }
.color-error { color:red; }
.redhover { transition-duration: 400ms;}
.redhover:hover { color:var(--bad-secondary-color); background-color: var(--bad-primary-color) !important;}
.bg-color { background-color: var(--primary-color);}
.color-sc { background-color: var(--secondary-color);}
.color-gc { background-color: var(--gray-bg);}
.text-white { font-family: 'CustomFont', Arial, sans-serif; color:lightgray; font-size:1.4em; }
.bg-main { background-color: var(--primary-color); }



/* INPUTS */
.input-text {
    width:80%;
    height:40px;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    padding:10px;
    margin:10px;
}

.btn {
    min-width:200px;
    padding:10px;
    border-radius: 10px;
    display: inline-block;
    font-family: 'CustomFont', Arial, sans-serif;
    font-size: 2em;
    transition-duration: 300ms;
    cursor: pointer;
}

.valid {
    background-color: var(--valid-primary-color);
    border: 1px solid var(--valid-secondary-color);
    color:var(--valid-secondary-color);
}

.valid:hover {
    background-color: var(--valid-secondary-color);
    border: 1px solid var(--valid-primary-color);
    color:var(--valid-primary-color);
}

.valid:disabled {
    background-color: grey;
    border: 1px solid var(--clear-bg);
    color:white;
}


.error {
    background-color: var(--bad-primary-color);
    border: 1px solid var(--bad-secondary-color);
    color:var(--bad-secondary-color);
}

.error:hover {    
    background-color: var(--bad-secondary-color);
    border: 1px solid var(--bad-primary-color);
    color:var(--bad-primary-color);
}



/* Icons */
.locked:is(.icon)       { background-image:url(../imgs/icons/lock.gif);}
.sheet:is(.icon)       { background-image:url(../imgs/icons/sheets.png);}
.unlocked:is(.icon)     { background-image:url(../imgs/icons/valid.gif);}
.join:is(.icon)         { background-image:url(../imgs/icons/join.gif);}
.cross:is(.icon)        { background-image:url(../imgs/icons/cross.gif);}
.pencil:is(.icon)       { background-image:url(../imgs/icons/pencil.gif); width:30px; transition-duration: 500ms;}
.pencil:is(.icon):hover { transform: rotate(10deg); }


.join:is(.icon){ animation: bounce 1s ease infinite;}
@keyframes bounce{
    0% {transform: translateX(0);}
    50%{transform: translateX(-3px);}
    75% {transform: translateX(0);}
}